.shrimmer__container {
  background-color: rgb(235, 235, 235);
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
  transition: transform 300ms ease;
  position: relative;
  overflow: hidden;
  height: 370px;
  padding: 1rem;
  height: 370px;
}

.shrimmer__container:hover {
  transform: scale(1.05);
}

.shrimmer__title {
  height: 30px;
  background-color: #a5a5a5;
  border-radius: 3px;
  width: 100%;
}

.shrimmer__div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shrimmer__source {
  height: 18px;
  width: 40%;
  background-color: #a5a5a5;
  border-radius: 3px;
}

.shrimmer__timestamp {
  height: 18px;
  width: 30%;
  background-color: #a5a5a5;
  border-radius: 3px;
}

.shrimmer__animation {
  position: absolute;
  height: 200%;
  background-color: #ffffff33;
  width: 18%;
  animation: loading 1.6s infinite ease;
}

@keyframes loading {
  0% {
    transform: skewX(-20deg) translateX(-30%);
  }
  100% {
    transform: skewX(-20deg) translateX(700%);
  }
}

@media screen and (max-width: 700px) {
  .shrimmer__container {
    height: 300px;
    width: 90%;
  }

  .shrimmer__title {
    width: 90%;
  }
}
